/ProyectoInvestigacion_Persistencia/nbproject/private/
/ProyectoInvestigacion_Persistencia/build/
/ProyectoInvestigacion_Dominio/build/
/ProyectoInvestigacion_Dominio/dist/
/ProyectoInvestigacion_Negocio/nbproject/private/
/ProyectoInvestigacion_Presentacion/nbproject/private/
/ProyectoInvestigacion_Presentacion/build/
/ProyectoInvestigacion_Negocio/build/
/ProyectoInvestigacion_Persistencia/dist/
/ProyectoInvestigacion_Negocio/dist/
/ProyectoInvestigacion_Presentacion/dist/