/ProyectoInvestigacion_Persistencia/nbproject/private/
/ProyectoInvestigacion_Persistencia/build/
/ProyectoInvestigacion_Dominio/build/
/ProyectoInvestigacion_Dominio/dist/
/ProyectoInvestigacion_Negocio/nbproject/private/